<div class="container-fluid">
    <h2 class="display-4">
      Score Board
    </h2>
    <hr>
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-sm-12 mb-4 d-flex justify-content-center" *ngFor="let participant of participants">
          <div class="row">
            <div class="col-sm-12">
              <p class="display-4"><mark><strong>Score : {{ participant.score.score | score }}</strong></mark></p>
            </div>
            <div class="col-sm-12 text-center">
              <img class="img-fluid" src="{{ participant.photoUrl }}" alt="Photo du collègue" />
              <br>
              <p><strong>{{ participant.prenom }} {{ participant.nom | uppercase }}</strong></p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
