<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
      <a class="navbar-brand">Participants</a>
      <ul class="navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="/gallerie">Gallerie</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/score">Score</a></li>
          <li class="nav-item"><a class="nav-link" (click)="deconnexion()"
            routerLink="/login">deconnexion</a></li>
      </ul>
  </div>
</nav>



<router-outlet></router-outlet>


