<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-12 mb-4 d-flex justify-content-center" *ngFor="let part of participant">
      <div class="container-fluid text-center">
        <img class="img-fluid" src="{{part.photoUrl}}" height="300" width="300">
        <br>
        <p><strong>{{ part.prenom }} {{ part.nom | uppercase }}</strong></p>
        <p><button class="btn btn-link" (click)="upVote(part.matricule)"> Like</button>
          <button class="btn btn-link" (click)="downVote(part.matricule)">Unlike</button></p>
          <p>{{part.scoreCard.likes}} {{part.scoreCard.disLikes}}</p>
      </div>


    </div>
  </div>
</div>
